header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  margin: 0 auto;
  max-width: calc(2rem + 92vw);
  padding: 1.5rem 1rem;
}

.header-logo {
  padding: 1rem 0;
}

.navbar-list {
  padding: 1rem;
}

.navbar-list-icon {
  padding-top: 1.7rem;
}

.nav-brand {
  display: block;
  outline: none;
}

.navbar-list {
  position: relative;
  z-index: 100;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  padding: .5rem 1.6rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: .3px;
  transition: all .3s ease;
}

.nav-link:hover {
  color: #2C99ED;
}
