@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container > div {
    padding: 1rem 2rem;
  }

  .navbar-list {
    display: none;
  }

  .navbar-list ul li a.responsive {
    position: relative;
  }

  .navbar-list.responsive {
    float: none;
    text-align: center;
    margin-top: 3rem;
  }

  .navbar-list.responsive, .navbar-list.responsive .nav-list {
    display: block;
  }
}

@media (max-width: 700px) {
  body {
    background-size: cover;
  }
}
