.flex-container {
  min-height: calc(100vh - 51px);
  margin: 0 auto;
  width: 100%;
  padding: 18rem 0 3rem 0;
}

.flex-container, .password-input-row {
  display: flex;
}

.flex-container .col {
  width: 50%;
  padding: 0 8rem;
}

.hero h1, .hero h3, .form-col h4, input, .input-group input::placeholder, .submit-btn, .form-col p, .terms-link {
  color: #fff;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.hero h3 {
  font-size: 1.6rem;
  line-height: 1.5;
}

.form-col h4 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-size: .9rem;
}

.input-group {
  border-radius: 5px 5px 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.name-input, .email-input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.password-input, .password-show-btn, .submit-btn {
  border: none;
}

.input-group input {
  outline: none;
  padding: 1.2rem;
  border-right: none;
  border-top: none;
  border-left: none;
}

.input-group input, .submit-btn {
  width: 100%;
}

.input-group input, .submit-btn, .terms-link {
  transition: all .3s ease;
}

.input-group input, .password-show-btn {
  background: rgba(255, 255, 255, 0.08);
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.2);
}

.input-group input::placeholder {
  opacity: .6;
}

input, .input-group input::placeholder, .submit-btn {
  font-size: 1rem;
}

input {
  letter-spacing: .3px;
}

.password-show-btn {
  border-bottom-style: none;
  padding: 1rem;
}

.submit-btn {
  background-color: #2C99ED;
  letter-spacing: .5px;
  border-radius: 0 0 5px 5px;
  padding: 1.3rem 0;
}

.submit-btn:hover {
  background-color: rgba(44,153,237,0.8);
  cursor: pointer;
}

form {
  margin-bottom: 1.5rem;
}

.terms-link {
  text-decoration: none;
}

.terms-link:hover {
  text-decoration: underline;
}
